:root {
  font-family: 'Noto Sans JP', sans-serif;
}

.border-section {
    border-bottom: 2px solid rgb(var(--v-theme-textmain));
}

.a-card-title {
    margin: 0 !important;
    font-size: 1.25rem !important;
    letter-spacing: 0.0125rem !important;
    text-transform: none !important;
    color: rgb(var(--v-theme-textmain)) !important;
}
